.env
.rnd
.swp
*.log
.user.ini
/.idea
/.vscode
/.constant
/.phpstorm.meta.php
/.phpunit.result.cache

/app/config/config.php
/public/.user.ini

/vendor
/vendor/.git
/runtime/api/*
/runtime/admin/*
/runtime/web/*
/runtime/user/*
/runtime/log/*
/runtime/cache/*
/runtime/session/*
/runtime/*.php
/runtime/*.log
